fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary>=2.9.0
alembic
pydantic-settings
python-dotenv
pyjwt
pwdlib[argon2]
cryptography
python-multipart
httpx
pytest
pytest-asyncio
apscheduler>=3.11.0,<4.0.0
croniter>=2.0.0
pytz
fastapi-pagination>=0.12.0
procrastinate>=3.7.0,<4.0.0
